html {
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    color: #4A4A4A;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

/*Elements*/
label.grey {
    opacity: 0.5;
}
label.bold {
    font-weight: 700;

}
textarea {
    resize: none;
    border-style: none;
    border-radius: 10px;
    font-size: 0.86rem;
    font-family: 'Arimo', sans-serif;
}
textarea:focus {
    outline: none;
}
h2 {
    font-size: 1.15rem;
    line-height: 18px;
    font-weight: 400;
}
h3 {
    width: 97%;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
}



