@media all and (min-width: 981px) {
    body {
        margin: 0 auto;
        width: 640px;
    }
    h1 {
        width: 640px;
        margin-left: 10px;
    }
    img {
        width: 510px;
        height: 713px;
        margin-top: 30px;
        justify-self: end;
        align-self: center;
    }
    body div.tab {
        width: 640px;
    }
    input:checked + div.content {
        width: 100%;
    }
}
