.content {
    position: relative;
    background-color: #FBFCFF;
    height: 1413px;
    width: 100%;
}
/*Speakers*/
.speakers {
    width: 100%;
    height: 757px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.speaker_description {
    width: 474px;
}
.title.speaker {
    margin-bottom: 7px;
}
.speakers_title {
    display: flex;
    margin-bottom: 20px;
}
.speakers_title .plus {
    margin-top: -30px;
}
.slogan.color {
    font-weight: 300;
    line-height: 55px;
    margin-bottom: 11px;
}
.select_color_button {
    width: 37px;
    height: 37px;
    margin-top: 14px;
    border-radius: 100%;
    border: 2px solid #EAEAEA;
}
.select_color_button:active {
    border-radius: 100%;
    border: 2px solid #FFC700;
}
.select_color_button.white {
    background-color: #fff;
}
.select_color_button.rose {
    background-color: #DD5656;
}
.select_color_button.black {
    background-color: #000;
}
.speaker_description .price_line {
    margin-top: 47px;
}
.speaker_description .price {
    margin-right: 43px;
}
.speaker_description .buy {
    background-color: #000;
    color: #fff;
}
.speaker_description .extra {
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.52);
}
.speakerGallery {
    position: relative;
}
.selectSpeakerImage {
    position: absolute;
    left: 348px;
    top: 614px;
}
.select_button{
    padding: 0;
    border-style: none;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.select_button.black {
    background-color: #000;
}
.select_button.grey {
    background-color: #D1D1D1;
    margin-left: 10px;
}
/*Earphones*/
.earphones {
    position: absolute;
    top: 784px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.earphone_item {
    background-color: #F8F8F9;
    width: 393px;
    height: 560px;
    margin-right: 37px;
    position: relative;
}
.earphone_item:nth-child(1) img {
    position: absolute;
    top: 40px;
    left: 102px;
}
.earphone_item:nth-child(2) img {
    position: absolute;
    top: -17px;
    left: 55px;
}
.earphone_item:nth-child(3) img {
    position: absolute;
    top: 100px;
    left: 124px;
}
.item_description {
    position: absolute;
    top: 332px;
    left: 49px;
}
.earphone_title {
    font-size: 4.15rem;
    line-height: 55px;
    font-weight: 500;
    margin-bottom: 4px;
}
.earphone_description {
    font-size: 1.3rem;
    word-wrap: break-word;
    line-height: 25px;
    width: 267px;
}
.item_price_line {
    position: absolute;
    top: 144px;
    display: flex;
    height: 40px;
    width: 265px;
    align-items: center;
    justify-content: space-between;
}
.item_price_line .item_price {
    font-size: 2rem;
    line-height: 30px;
    color: #9D8220;
    font-weight: 500;
}
.buy_button .buy {
    padding: 12px 33px;
    background-color: #000;
    color: #fff;
}