footer {
    display: flex;
    background-color: #2B2835;
    height: 344px;
    width: 100%;
    position: relative;
    align-items: center;
}
footer img.bitLogo {
    margin-right: 100px;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: center;
}
.menu_list {
    display: flex;
    flex-direction: column;
    width: 155px;
    margin-right: 88px;
}
.menu_list:nth-child(2) {
    width: 230px;
}
.menu_item {
    text-decoration: none;
    text-transform: uppercase;
    color: #B8B8B8;
    line-height: 25px;
}
.menu_item:first-child, .follow_Us {
    color: #fff;
    font-size: 2rem;
    line-height: 36px;
}
.social_media {
    width: 262px;
    height: 239px;
}
.social_media_list {
    display: flex;
}
.follow_icon {
    margin-right: 10px;
    margin-top: 30px;
}
img.social_media_icon {
    width: 33px;
    height: 33px;
}
.copyright {
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.305);
    line-height: 15px;
}