html {
    font-family: Roboto, sans-serif;
    font-size: 12px;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
}

/*Elements*/

button:active, button:focus {
    outline: none;
}
.bitLogo {
    height: 50px;
    width: 50px;
}
.title {
    font-size: 1.3rem;
    line-height: 20px;
}
.slogan, .price, .available_colors {
    font-size: 3.33rem;
    line-height: 43px;
    font-weight: 700;
    letter-spacing: 2px;
}
.price {
    font-weight: 500;
}
.price_line {
    display: flex;
}
.buy {
    border-style: none;
    border-radius: 20px;
    font-size: 1.15rem;
    font-weight: 700;
}
.price_line .buy {
    padding: 12px 48px;

}
.extra {
    color: #FFC700;
    line-height: 20px;
    font-size: 1.08rem;
}